.nav{
   
}
.nav div{
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 15px;
    font-size: 20px;
    color: ;
}
.nav ul{
    position: absolute;
    right: 5px;

}
.nav li{
    display: inline-block;
}
.nav ul li a{
    color:;
    padding: 5px;
}
.nav .has-dropdown ul li a{
    padding: 12px 0;
}

.nav li a:hover {
    background-color: none;
  }
  
  .nav li a.active {
   
    color: ;
  }
  
  .dropdown {
    
    padding: 0;
    list-style: none;
    display: none;
  }
  
  .nav li.has-dropdown:hover .dropdown {
    display: block;
  }
  
.text-container{
    color: ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    size: 90px;

}
